.button {
   background-color: $main-color;
   color: #fff;
   width: 160px;
   height: 45px;
   font-family: Roboto;
   font-size: 12px;
   font-weight: 400;
   line-height: 22.04px;
   text-transform: uppercase;
   border: none;
   border-radius: 19px;
   cursor: pointer;
   &_main {
      display: block;
      width: 230px;
      height: 57px;
      border-radius: 27px;
      margin: 0 auto;
      margin-top: 39px;
      font-size: 15px;
      font-weight: 600;
      line-height: 17.35px;
   }
   &_price {
      margin-top: 25px;
   }
   &_submit {
      display: block;
      width: 180px;
      height: 45px;
      margin: 0 auto;
   }
}