.button {
   background-color: $main-color;
   color: #fff;
   width: 160px;
   height: 45px;
   font-family: Roboto;
   font-size: 12px;
   font-weight: 400;
   line-height: 22.04px;
   text-transform: uppercase;
   border: none;
   border-radius: 19px;
   cursor: pointer;
}