.feedback {
   min-height: 470px;
   padding: 51px 0 65px 0;
   &__subtitle {
      margin-top: 17px;
      text-align: center;
      color: #2e2e2e;
      font-family: Roboto;
      font-size: 21px;
      font-weight: 300;
      line-height: 24px;
   }
}