.footer {
   max-height: 201px;
   background-color: #25333c;
   &_container-up {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 122px;
   }

   &_container-down {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 80px;
   }

   &__divider {
      margin: 0 auto 0 auto;
      background-color: #677177;
      width: 1170px;
      
   }
   &__logo {
      width: 68px;
      height: 71px;
      img {
         width: 100%;
      }
   }
   &__text {
      color: #ffffff;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 700;
      padding-left: 43px;
   }
   &__contacts {
      padding-left: 278px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__contacts-phone {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 19px;

      div {
         color: #ffffff;
         font-family: Roboto;
         font-size: 14px;
         font-weight: 300;
         line-height: 24px;
      }

      a {
         color: #ffffff;
         font-family: Roboto;
         font-size: 19px;
         font-weight: 700;
         line-height: 24px;
      }
   }
   &__range {
      color: #a8adb1;
      font-family: Roboto;
      font-weight: 300;
      font-size: 13px;
   }
   &__private {
      color: $main-color;
      font-family: Roboto;
      font-size: 13px;
      font-weight: 300;
      text-decoration: underline;
      &:hover {
         color: $main-color;
      }
   }
   
}