.form {
   &_consultation {
      margin-top: 20px;
   }
   &__border {
      position: relative;
      border: 1px solid #dfdfdf;
      padding-bottom: 53px;
   }

   &__icon {
      max-width: 122px;
      text-align: center;
   }

   &__wrapper {
      margin-top: 9px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      input {
         color: #101010;
         font-family: Roboto;
         font-size: 13px;
         font-weight: 300;
         line-height: 24px;
         margin: 0 3px;
         padding-left: 28px;
         width: 268px;
         height: 45px;
         border: 1px solid rgba(0, 0, 0, 0.21);
         border-radius: 18px;
         outline: none;
      }
   }
   &_questions {
      margin-top: 18px;
      textarea {
         margin-top: 8px;
         margin-bottom: 17px;
         width: 813px;
         height: 71px;
         resize: none;
         padding-top: 18px;
         padding-left: 26px;
         color: #616467;
         font-family: Roboto;
         font-size: 13px;
         font-weight: 300;
         border: 1px solid rgba(0, 0, 0, 0.21);
         outline: none;
      }
   }

}