.header {
   display: flex;
   justify-content: space-between;

   &__logo {
      img {
         width: 100%;
      }
   }
   &__nav {
      display: flex;
      align-items: center;
   }

   &__nav-items {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
      list-style-type: none;
      padding-left: 0;
   }
   &__nav-item {
      padding-left: 15px;
      padding-right: 15px;
      font-size: 15px;
      &:hover {
         border-right: dotted #5c5e6a;
      }
      &:nth-child(1) {
         padding-left: 0;
      }
      
      a {
         color: #ffffff;
         font-family: Roboto;
         font-weight: 400;
         &:hover {
            color: $main-color;
         }
      }
   }
   
   &__contacts {
      display: flex;
      justify-content: space-between;
      align-items: center;
         
   }
   &__contacts-phone {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 19px;
      div {
         color: #ffffff;
         font-family: Roboto;
         font-size: 14px;
         font-weight: 300;
         line-height: 24px;
      }
      a {
         color: #ffffff;
         font-family: Roboto;
         font-size: 19px;
         font-weight: 700;
         line-height: 24px;
      }
   }
   
}